/*.wrapper{
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr;
    gap:5rem;
    justify-content:space-around;
    padding: 1rem;
    margin: 30px;
    width:fit-content;
}

.card {
    background-color: #f0e8e854;
    border-radius: 2px;
    box-shadow: 0 3px 6px #E8A87C, 0 3px 6px #E8A87C;
    text-align: center;
    overflow:hidden;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
}*/

.left{
    padding-left: 10px !important;
    
}
.wrapperReviews {
    display: flex;
    justify-content:space-around;
}

.formDiv{
    height: 22rem;
    width: 25rem;
    background-color: rgb(231, 197, 233);
    border-radius: 5px;
    display: inline-block;
    
}
h3 {
    text-align: center;
    padding: 3px;
    margin: 20px 10px;
    font-size: larger;
}
.inputform{
    border-radius: 4px;
    display: block;
    padding: 10px 5px;
    margin: 10px;
    border:2px solid rgb(170, 117, 170);
}
.formsubmitbutton {
    margin: 10px;
}
textarea{
    height: 7em;
    width: 22em;
    border-radius: 15px;
    display: block;
    padding: 20px 5px;
    margin: 10px;
    border: 5px solid rgb(170, 117, 170);
}

.radio {
    margin-left: 20px;
}