.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:5rem;
    justify-content:space-around;
    padding: 1rem;
    margin: 30px;
    width:fit-content;
}

h2{
    text-align: center;
    size: 20em;
}
.bookCover {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 80px;
}